@import "../../Styling/variables";

.AboutUs {
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;

  @include respond-to-mobile {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}

.officeSpace {
  display: flex;
  align-items: center;
  justify-content: center;
}

.officeSpaceImg {
  width: 55%;
  border-radius: 5px;

  @include respond-to-mobile {
    width: 100%;
  }
}

.list {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list li {
  @extend .text-base;
  font-weight: bold;
}
