@import "../../Styling/variables";

.stripBar {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.stripBarBg {
  position: absolute;
  inset: 0;
  width: 100%;
  top: -80px;

  @include respond-to-mobile {
    height: 100%;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
}

.stripBarContent {
  position: absolute;
  inset: 0;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  @include respond-to-mobile {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}

.stripBarContentBg {
  width: 45%;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 40px;

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @include respond-to-mobile {
    width: 100%;
  }
}

.stripBarText {
  color: $light-text;
}
