.contactUsForm {
  width: "100%";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}

.customButtonWrapper {
  width: 100%;
  padding-right: 30px;
}

.submitApiError {
  color: red;
  font-size: 0.9em;
  width: 100%;
  font-weight: bold;
}
