@import "../../Styling/variables";

.contactUs {
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include respond-to-mobile {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}

.contactUsFormSection {
  width: 45%;

  @include respond-to-mobile {
    width: 100%;
  }
}

.contactUsLogo {
  width: 45%;
  position: relative;

  @include respond-to-mobile {
    display: none;
  }
}

.contactUsLogoImg {
  width: 100%;
  position: absolute;
  inset: 0;
  top: -55px;
}
