@import "../Styling/variables";

.CTBox {
  width: 100%;
  padding-right: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.CTActiveBox {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: $field-bg;
  border: 2px solid $field-border;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.activeBox {
  height: 70%;
  width: 70%;
  background-color: $dark-blue;
}

.isActive {
  border: 2px solid $dark-blue;
}

.CTText {
  font-size: 0.9em;
  font-weight: bold;
}
